/**********************
Credits
***********************
1) Vanilla-tilt     https://micku7zu.github.io/vanilla-tilt.js/
2) AOS Animation    http://michalsnik.github.io/aos/
3) jQuery           https://jquery.com/
4) Bootstrap        https://getbootstrap.com/docs/4.2/getting-started/introduction/
5) waypoints        http://imakewebthings.com/waypoints/guides/getting-started/
6) pixabay          https://pixabay.com/
7) pexels           https://www.pexels.com/
8) Counter Up       https://github.com/bfintal/Counter-Up
9) Google Fonts     
1. Dosis            https://fonts.google.com/specimen/Dosis?query=dosis
2. Playfair Display https://fonts.google.com/specimen/Playfair+Display?query=playfair+display
3. Lora             https://fonts.google.com/specimen/Lora?query=lora

10) Icomoon         https://icomoon.io/
11) Owl Carosol     https://owlcarousel2.github.io/OwlCarousel2/

***********************/



/*========================================================================
EXCLUSIVE ON themeforest.net
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Template Name   : Reese
Author          : themepaa
version         : 1.0
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Copyright (c) 2019 - themepaa
========================================================================*/

/* preloader */
#loader{position:fixed;top:0;right:0;bottom:0;left:0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;background:rgba(5,5,5,.75);opacity:0;visibility:hidden;-webkit-transition:opacity .3s ease-out,visibility 0s linear .3s;transition:opacity .3s ease-out,visibility 0s linear .3s;z-index:999;-webkit-transition-timing-function:linear;transition-timing-function:linear;}
#loader.show{-webkit-transition:opacity .6s ease-out,visibility 0s linear 0s;transition:opacity .6s ease-out,visibility 0s linear 0s;-webkit-transition-timing-function:linear;transition-timing-function:linear;visibility:visible;opacity:1;}
#loader .loader{position:relative;width:45px;height:45px;border:5px solid #fff;border-top:5px solid #EF233C;border-radius:50%;-webkit-animation:spin 2s linear infinite;animation:spin 2s linear infinite;}
/* animation */
@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);}}
@keyframes spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
/* animation */
/* preloader */

/* Typography */
/* font family links */
/* dosis */
@font-face{font-family:'dosis';src:url("../fonts/text_fonts/dosis/Dosis-Bold.ttf");src:url("../fonts/text_fonts/dosis/Dosis-Light.ttf");src:url("../fonts/text_fonts/dosis/Dosis-Medium.ttf");src:url("../fonts/text_fonts/dosis/Dosis-Regular.ttf");src:url("../fonts/text_fonts/dosis/Dosis-SemiBold.ttf");}
/* dosis */
/* playfair_display */
@font-face{font-family:'playfair_display';src:url("../fonts/text_fonts/playfair_display/PlayfairDisplay-Italic.ttf");}
/* playfair_display */
/* lora */
@font-face{font-family:'lora';src:url("../fonts/text_fonts/lora/Lora-SemiBold.ttf");}
/* lora */
/* font family links */
.heading_title_1,.heading_title_2,.heading_title_3,.heading_title_4,.heading_title_5,.heading_sub_title,.heading_sub_title_1,.heading_sub_title_2,.heading_sub_title_3,.statistic,.quality,.moment,.menu,.banner_text h2,.course_img h3,.course_body,.course_button,.event_logo .event_logo_text h2,.event_text h3,.news_text h3,.event_text h3 span,.news_text h3 span,.teacher_text h3,.testimonial_text h3,.teacher_text span{font-family:"dosis",sans-serif;}
.course_img h2,.banner_text a p{font-family:"playfair_display",sans-serif;}
.course_img h3,.course_footer span,.event_logo .event_logo_text p,.event_text p,.news_text p,.teacher_text p,.testimonial_text p,.about_content p,.copyright_text{font-family:"lora",sans-serif;}
/* Typography */

/* hamburger */
.navbar-toggler{position:relative;display:flex;justify-content:center;align-items:center;width:46px;height:46px;cursor:pointer;transition:all .5s ease-in-out;}
.menu-btn_burger{width:20px;height:3px;background:#fff;border-radius:5px;box-shadow:0 2px 5px rgba(255,101,47,.2);transition:all .5s ease-in-out;}
.menu-btn_burger::before,.menu-btn_burger::after{content:'';position:absolute;width:20px;height:3px;background:#fff;border-radius:5px;box-shadow:0 2px 5px rgba(255,101,47,.2);transition:all .5s ease-in-out;}
.menu-btn_burger::before{transform:translateY(-6px);}
.menu-btn_burger::after{transform:translateY(6px);}
/* ANIMATION */
.navbar-toggler.open .menu-btn_burger{transform:translateX(-50px);background:transparent;box-shadow:none;}
.navbar-toggler.open .menu-btn_burger::before{transform:rotate(45deg) translate(35px,-35px);}
.navbar-toggler.open .menu-btn_burger::after{transform:rotate(-45deg) translate(35px,35px);}
/* ANIMATION */
/* hamburger */

/* Default css [responsive] */
body{color:#707070;background-image:url(../images/background/bg.gif);background-attachment:fixed;background-size:cover;}
.bg_overlay{position:relative;background-color:rgba(5,5,5,.5);margin:0px;padding:0px;z-index:0px;}
figure{margin:0px;}
.heading_title_1,.heading_title_2,.heading_title_3,.heading_title_4,.heading_title_5{margin-top:70px;}
.heading_title_1 h2,.heading_title_2 h2,.heading_title_3 h2,.heading_title_4 h2,.heading_title_5 h2{font-weight:700;font-size:30px;}
.heading_title_1 h2{color:lightblue;}
.heading_title_2 h2{color:lightsalmon;}
.heading_title_3 h2{color:lightpink;}
.heading_title_4 h2{color:lightcyan;}
.heading_title_5 h2{color:lightgreen;}
.heading_title_1 hr,.heading_title_2 hr,.heading_title_3 hr,.heading_title_4 hr,.heading_title_5 hr{border:none;border-bottom:3px dashed #ffffff;width:245px;margin:0px auto 51px;}
.heading_sub_title h2,.heading_sub_title_1 h2,.heading_sub_title_2 h2,.heading_sub_title_3 h2{font-weight:700;font-size:24px;}
.heading_sub_title h2{color:greenyellow;}
.heading_sub_title_1 h2{color:#f33131;}
.heading_sub_title_2 h2{color:yellow;}
.heading_sub_title_3 h2{color:lawngreen;}
.heading_sub_title hr,.heading_sub_title_1 hr,.heading_sub_title_2 hr{border:none;border-bottom:1px solid #dddddd;width:138px;margin-left:0px;}
.heading_sub_title_3 hr{border:none;border-bottom:1px solid #dddddd;}
.teacher_text h3,.testimonial_text h3{font-size:14px;color:yellow;}
.teacher_text p,.testimonial_text p{font-weight:300;color:lightblue;}
.about_content,.statistic,.quality,.moment,.course,.event,.news,.teacher,.testimonial{margin:29px 0px 32px;}
.moments_background,.testimonial_background{background:linear-gradient(90deg,black,blue,black);}
.padding_bottom_section{padding-bottom:38px;}
/* responsive */
@media(max-width:319.98px){
    .heading_title_1,.heading_title_2,.heading_title_3,.heading_title_4,.heading_title_5{margin-top:45px;}
    .heading_title_1 h2,.heading_title_2 h2,.heading_title_3 h2,.heading_title_4 h2,.heading_title_5 h2{font-size:22px;margin:9px 0px;}
    .heading_title_1 hr,.heading_title_2 hr,.heading_title_3 hr,.heading_title_4 hr,.heading_title_5 hr{width:174px;margin:0 auto 24px;}
    .heading_sub_title h2,.heading_sub_title_1 h2,.heading_sub_title_2 h2,.heading_sub_title_3 h2{font-size:19px;}
    .heading_sub_title hr,.heading_sub_title_1 hr,.heading_sub_title_2 hr{width:110px;}
    .heading_sub_title_2 h2,.heading_sub_title_3 h2{text-align:center;}
    .heading_sub_title_2 hr{margin:auto;}
}
@media(min-width:320px) and (max-width:374.98px){
    .heading_title_1,.heading_title_2,.heading_title_3,.heading_title_4,.heading_title_5{margin-top:45px;}
    .heading_title_1 h2,.heading_title_2 h2,.heading_title_3 h2,.heading_title_4 h2,.heading_title_5 h2{font-size:22px;margin:9px 0px;}
    .heading_title_1 hr,.heading_title_2 hr,.heading_title_3 hr,.heading_title_4 hr,.heading_title_5 hr{width:174px;margin:0px auto 24px;}
    .heading_sub_title h2,.heading_sub_title_1 h2,.heading_sub_title_2 h2,.heading_sub_title_3 h2{font-size:19px;}
    .heading_sub_title hr,.heading_sub_title_1 hr,.heading_sub_title_2 hr{width:110px;}
    .heading_sub_title_2 h2,.heading_sub_title_3 h2{text-align:center;}
    .heading_sub_title_2 hr{margin:auto;}
}
@media(min-width:375px) and (max-width:424.98px){
    .heading_title_1,.heading_title_2,.heading_title_3,.heading_title_4,.heading_title_5{margin-top:45px;}
    .heading_title_1 h2,.heading_title_2 h2,.heading_title_3 h2,.heading_title_4 h2,.heading_title_5 h2{font-size:22px;margin:9px 0px;}
    .heading_title_1 hr,.heading_title_2 hr,.heading_title_3 hr,.heading_title_4 hr,.heading_title_5 hr{width:174px;margin:0px auto 24px;}
    .heading_sub_title h2,.heading_sub_title_1 h2,.heading_sub_title_2 h2,.heading_sub_title_3 h2{font-size:19px;}
    .heading_sub_title hr,.heading_sub_title_1 hr,.heading_sub_title_2 hr{width:110px;}
    .heading_sub_title_2 h2,.heading_sub_title_3 h2{text-align:center;}
    .heading_sub_title_2 hr{margin:auto;}
}
@media(min-width:425px) and (max-width:575.98px){
    .heading_title_1,.heading_title_2,.heading_title_3,.heading_title_4,.heading_title_5{margin-top:45px;}
    .heading_title_1 h2,.heading_title_2 h2,.heading_title_3 h2,.heading_title_4 h2,.heading_title_5 h2{font-size:22px;margin:9px 0px;}
    .heading_title_1 hr,.heading_title_2 hr,.heading_title_3 hr,.heading_title_4 hr,.heading_title_5 hr{width:174px;margin:0px auto 24px;}
    .heading_sub_title h2,.heading_sub_title_1 h2,.heading_sub_title_2 h2,.heading_sub_title_3 h2{font-size:19px;}
    .heading_sub_title hr.heading_sub_title_1 hr,.heading_sub_title_2 hr{width:110px;}
    .heading_sub_title_2 h2,.heading_sub_title_3 h2{text-align:center;}
    .heading_sub_title_2 hr{margin:auto;}
}
@media(min-width:576px) and (max-width:767.98px){
    .heading_title_1,.heading_title_2,.heading_title_3,.heading_title_4,.heading_title_5{margin-top:40px;}
    .heading_title_1 h2,.heading_title_2 h2,.heading_title_3 h2,.heading_title_4 h2,.heading_title_5 h2{font-size:25px;}
    .heading_title_1 hr,.heading_title_2 hr,.heading_title_3 hr,.heading_title_4 hr,.heading_title_5 hr{width:215px;margin:0px auto 28px;}
    .heading_sub_title h2,.heading_sub_title_1 h2,.heading_sub_title_2 h2,.heading_sub_title_3 h2{font-size:23px;}
    .heading_sub_title hr,.heading_sub_title_1 hr,.heading_sub_title_2 hr{width:132px;}
    .heading_sub_title_2 h2{text-align:center;}
    .heading_sub_title_2 hr{margin:auto;}
}
@media(min-width:768px) and (max-width:991.98px){
    .heading_title_1,.heading_title_2,.heading_title_3,.heading_title_4,.heading_title_5{margin-top:57px;}
    .heading_sub_title h2,.heading_sub_title_1 h2,.heading_sub_title_2 h2,.heading_sub_title_3 h2{font-size:23px;}
    .heading_sub_title hr,.heading_sub_title_1 hr,.heading_sub_title_2 hr{width:132px;}
    .heading_sub_title_2 h2{text-align:center;}
    .heading_sub_title_2 hr{margin:auto;}
}
@media(min-width:992px) and (max-width:1199.98px){
    .teacher_text p,.testimonial_text p{font-size:14px;margin:7px 0px;}
}
/* responsive */
/* Default css [responsive] */

/*header css [responsive] */
.fixed-header_1{position:fixed;top:0px;left:0px;width:100%;z-index:2;background-color:rgba(27,0,253,0.6);}
.header_backgrond{position:relative;top:0;left:0;z-index:1;min-height:117px;background-color:rgb(27,0,253);}
.menu ul li a{font-weight:700;color:#ffffff!important;border-radius:21px;transition:.5s;transition-timing-function:linear;padding:0px 13px!important;display:inline-block;}
.menu ul li a:hover,.menu ul li a.active{background-color:#F92472;box-shadow:0px 0px 10px 5px #F92472;}
/* responsive */
@media(max-width:319.98px){
    .logo{width:130px;}
    .menu{margin-top:2px;}
    .menu ul li a{font-size:16px;}
    .header_backgrond{min-height:86px;}
}
@media(min-width:320px) and (max-width:374.98px){
    .logo{width:130px;}
    .menu{margin-top:2px;}
    .menu ul li a{font-size:16px;}
    .header_backgrond{min-height:87px;}
}
@media(min-width:375px) and (max-width:424.98px){
    .logo{width:130px;}
    .menu{margin-top:2px;}
    .menu ul li a{font-size:16px;}
    .header_backgrond{min-height:104px;}
}
@media(min-width:425px) and (max-width:575.98px){
    .logo{width:130px;}
    .menu{margin-top:2px;}
    .menu ul li a{font-size:16px;}
    .header_backgrond{min-height:106px;}
}
@media(min-width:576px) and (max-width:767.98px){
    .logo{width:180px;}
    .menu{margin-top:7px;}
    .menu ul li a{font-size:16px;}
    .header_backgrond{min-height:136px;}
}
@media(min-width:768px) and (max-width:991.98px){
    .menu{margin-top:9px;}
    .menu ul li a{font-size:16px;}
    .header_backgrond{min-height:148px;}
}
@media(min-width:992px) and (max-width:1199.98px){
    .menu ul li a{font-size:13.5px;}
    .header_backgrond{min-height:99px;}
}
@media(min-width:1200px) and (max-width:1398px){
    .menu ul li a{font-size:18px;}
    .header_backgrond{min-height:118px;}
}
@media(min-width:1400px){
    .menu ul li a{font-size:18px;}
    .header_backgrond{min-height:118px;}
}
/* responsive */
/* header css [responsive] */

/* banner css [responsive] */
.animation{font-weight:700;font-size:48px;color:#1ec0ff;animation-name:animation;animation-duration:4s;animation-iteration-count:infinite;}
@keyframes animation{
    0%{color:#1ec0ff;text-shadow:2px 2px 21px;}
    25%{color:#88DBA3;text-shadow:2px 2px 21px;}
    50%{color:#FFC953;text-shadow:2px 2px 21px;}
    75%{color:#F15C5C;text-shadow:2px 2px 21px;}
    100%{color:#FC9131;text-shadow:2px 2px 21px;}
}
.banner_text{margin:27px auto 45px;}
.banner_text a{transition:.5s;transition-timing-function:linear;}
.banner_text a p{font-weight:400;font-size:14px;font-style:italic;color:#ffffff;margin-bottom:1px;transition:.5s;transition-timing-function:linear;}
.banner_text a span{font-size:21px;color:#ffffff;transition:.5s;transition-timing-function:linear;}
.banner_text a:hover{text-decoration:none!important;}
.banner_text a:hover p,.banner_text a:hover span{color:#1EC0FF;}
#confetti{height:auto!important;position:absolute;width:100%!important;left:0;}
/* responsive */
@media(max-width:319.98px){
    #banner{background-color:white;margin-bottom:32px;}
    .animation{padding-top:70px;padding-bottom:60px;font-size:26px;}
    .banner_text{margin:0px;}
    .banner_text a p{font-size:8px;color:#1bff00;}
    .banner_text a span{font-size:17px;color:#1bff00;}
    #confetti{top:0px;height:237px!important;}
}
@media(min-width:320px) and (max-width:374.98px){
    #banner{background-color:white;margin-bottom:32px;}
    .animation{padding-top:70px;padding-bottom:60px;font-size:26px;}
    .banner_text{margin:0px;}
    .banner_text a p{font-size:8px;color:#1bff00;}
    .banner_text a span{font-size:17px;color:#1bff00;}
    #confetti{top:0px;height:237px!important;}
}
@media(min-width:375px) and (max-width:424.98px){
    #banner{background-color:white;margin-bottom:32px;}
    .animation{padding-top:70px;padding-bottom:60px;font-size:26px;}
    .banner_text{margin:0px;}
    .banner_text a p{font-size:8px;color:#1bff00;}
    .banner_text a span{font-size:17px;color:#1bff00;}
    #confetti{top:0px;height:237px!important;}
}
@media(min-width:425px) and (max-width:575.98px){
    #banner{background-color:white;margin-bottom:32px;}
    .animation{padding-top:70px;padding-bottom:60px;font-size:26px;}
    .banner_text{margin:0px;}
    .banner_text a p{font-size:8px;color:#1bff00;}
    .banner_text a span{font-size:17px;color:#1bff00;}
    #confetti{top:0px;height:206px!important;}
}
@media(min-width:576px) and (max-width:767.98px){
    #banner{background-color:white;margin-bottom:32px;}
    .animation{padding-top:127px;padding-bottom:103px;font-size:30px;}
    .banner_text{margin:0px;}
    .banner_text a p{font-size:10px;color:#1bff00;}
    .banner_text a span{font-size:17px;color:#1bff00;}
    #confetti{top:0px;height:314px!important;}
}
@media(min-width:768px) and (max-width:991.98px){
    #banner{background-image:url(../images/background/banner.png);background-size:cover;background-repeat:no-repeat;background-position:center;}
    .animation{padding-top:130px;padding-bottom:170px;font-size:40px;}
    .banner_text{margin:0px;}
    .banner_text a p{font-size:11px;}
    .banner_text a span{font-size:20px;}
    #confetti{top:0px;height:320px!important;}
}
@media(min-width:992px) and (max-width:1199.98px){
    #banner{background-image:url(../images/background/banner.png);background-size:cover;background-repeat:no-repeat;background-position:center;}
    .animation{padding-top:190px;padding-bottom:230px;}
    #confetti{bottom:106px;height:428px!important;}
    .banner_text{margin:0px;}
}
@media(min-width:1200px){
    #banner{background-image:url(../images/background/banner.png);background-size:cover;background-repeat:no-repeat;background-position:center;}
    .animation{padding-top:250px;padding-bottom:280px;}
}
@media(min-width:1200px) and (max-width:1398px){
    #confetti{bottom:98px;height:573px!important;}
}
@media(min-width:1400px){
    #confetti{bottom:102px;height:568px!important;}
}
/* responsive */
/* banner css [responsive] */

/* About css [responsive] */
.about_content p{font-weight:300;font-size:14px;color:lightblue;}
.about_button{border:2px solid #ffffff;padding:15px;text-align:center;border-radius:20px;transition:.5s;transition-timing-function:linear;}
.about_button:hover{background:#ffffff;border-radius:20px;box-shadow:inset 0 0 0 15px #ffffff;}
.about_button a{transition:.5s;transition-timing-function:linear;text-decoration:none;color:#ffffff;}
.about_button:hover a{color:#f33131;}
.about_pic{overflow:hidden;width:100%;border-radius:40px;}
.about_pic img{transition:.5s;transition-timing-function:linear;}
.about_pic:hover img{transform:scale(1.4);}
/* responsive */
@media(max-width:319.98px){
    .about_content p{font-size:12px;}
    .about_button{padding:8px;}
    .about_button a{font-size:15px;}
}
@media(min-width:320px) and (max-width:374.98px){
    .about_content p{font-size:12px;}
    .about_button{padding:8px;}
    .about_button a{font-size:15px;}
}
@media(min-width:375px) and (max-width:424.98px){
    .about_content p{font-size:12px;}
    .about_button{padding:10px;}
    .about_button a{font-size:15px;}
}
@media(min-width:425px) and (max-width:575.98px){
    .about_content p{font-size:12px;}
    .about_button{padding:10px;}
    .about_button a{font-size:15px;}
}
@media(min-width:576px) and (max-width:767.98px){
    .about_content a{margin-top:15px;}
}
/* responsive */
/* About css [responsive] */

/*Statistics start*/
.statistic h2{font-weight:700;font-size:60px;color:#ffffff;}
.statistic p{font-weight:700;font-size:24px;color:#ffffff;margin-top:-48px;}
.left_line{position:relative;height:31px;width:50%;border-top:2px solid red;border-top-left-radius:30px;}
.left_line::before{content:"";position:absolute;top:0px;left:1px;height:31px;width:99%;border-top:2px solid hotpink;border-top-left-radius:30px;}
.left_line::after{content:"";position:absolute;top:2px;left:2px;height:31px;width:98%;border-top:2px solid yellowgreen;border-top-left-radius:30px;}
.right_line{position:relative;bottom:56px;height:31px;width:50%;border-bottom:2px solid yellowgreen;border-bottom-right-radius:30px;}
.right_line::before{content:"";position:absolute;bottom:0px;right:1px;height:31px;width:99%;border-bottom:2px solid hotpink;border-bottom-right-radius:30px;}
.right_line::after{content:"";position:absolute;bottom:2px;right:2px;height:31px;width:98%;border-bottom:2px solid red;border-bottom-right-radius:30px;}
/* responsive */
@media(max-width:319.98px){
    .statistic h2{font-size:30px;}
    .statistic p{font-size:17px;}
    .left_line{left:70px;width:25%;}
    .right_line{left:143px;width:25%;}
}
@media(min-width:320px) and (max-width:374.98px){
    .statistic h2{font-size:30px;}
    .statistic p{font-size:17px;}
    .left_line{left:70px;width:25%;}
    .right_line{left:143px;width:25%;}
}
@media(min-width:375px) and (max-width:424.98px){
    .statistic h2{font-size:30px;}
    .statistic p{font-size:17px;}
    .left_line{left:84px;width:25%;}
    .right_line{left:170px;width:25%;}
}
@media(min-width:425px) and (max-width:575.98px){
    .statistic h2{font-size:30px;}
    .statistic p{font-size:17px;}
    .left_line{left:95px;width:25%;}
    .right_line{left:194px;width:25%;}
}
@media(min-width:576px) and (max-width:767.98px){
    .statistic h2{font-size:40px;}
    .statistic p{font-size:18px;}
    .right_line{left:128px;}
}
@media(min-width:768px) and (max-width:991.98px){
    .statistic h2{font-size:40px;}
    .statistic p{font-size:18px;}
    .right_line{left:81px;}
}
@media(min-width:992px) and (max-width:1199.98px){
    .right_line{left:109px;}
}
@media(min-width:1200px) and (max-width:1365.98px){
    .right_line{left:134px;}
}
@media(min-width:1366px) and (max-width:1399.98px){
    .right_line{left:152px;}
}
@media(min-width:1400px){
    .right_line{left:157px;}
}
/* responsive */
/*Statistics end*/

/*qualities start*/
.quality_img{width:50%;margin:0px auto;overflow:hidden;border-radius:20px;transition:.5s;transition-timing-function:linear;}
.quality_img:hover{border-radius:50%;}
.quality_img img{transition:.5s;transition-timing-function:linear;}
.quality_img:hover img{transform:scale(1.2);border-radius:50%;}
.quality p{font-weight:700;font-size:24px;color:#ffffff;margin-top:14px;}
/* responsive */
@media(max-width:319.98px){
    .quality_img{width:46%;}
    .quality p{font-size:18px;}
}
@media(min-width:320px) and (max-width:374.98px){
    .quality_img{width:46%;}
    .quality p{font-size:18px;}
}
@media(min-width:375px) and (max-width:424.98px){
    .quality_img{width:39%;}
    .quality p{font-size:18px;}
}
@media(min-width:425px) and (max-width:575.98px){
    .quality_img{width:35%;}
    .quality p{font-size:18px;}
}
@media(min-width:576px) and (max-width:767.98px){
    .quality_img{width:54%;}
    .quality p{font-size:18px;}
}
@media(min-width:768px) and (max-width:991.98px){
    .quality_img{width:76%;}
    .quality p{font-size:18px;}
}
/* responsive */
/*qualities end*/

/*Memorable Moments start*/
.moment_img{width:100%;overflow:hidden;border-radius:15px;}
.moment_img img{border-radius:15px;transition:.5s;transition-timing-function:linear;}
.moment_img:hover img{transform:scale(1.2);}
/* responsive */
@media(max-width:319.98px){
    .moment_img{width:77%;margin:0px auto;}
}
@media(min-width:320px) and (max-width:374.98px){
    .moment_img{width:77%;margin:0px auto;}
}
@media(min-width:375px) and (max-width:424.98px){
    .moment_img{width:77%;margin:0px auto;}
}
@media(min-width:425px) and (max-width:575.98px){
    .moment_img{width:77%;margin:0px auto;}
}
/* responsive */
/*Memorable Moments end*/

/*Featured courses start*/
.course_underline{position:relative;margin:15px auto 75px;}
.course_underline hr{width:75.85%;}
.course_underline .course_arrow_1,.course_underline .course_arrow_2,.course_underline .course_arrow_3,.course_underline .course_arrow_4{position:absolute;transform:rotate(90deg);top:52px;width:98px;}
.course_underline .course_arrow_1{left:calc(12.2% - 49px);}
.course_underline .course_arrow_2{left:calc(37.4% - 49px);}
.course_underline .course_arrow_3{left:calc(62.6% - 49px);}
.course_underline .course_arrow_4{left:calc(87.8% - 49px);}
.course_figure{border:none;border-radius:20px!important;transition:.5s;transition-timing-function:linear;}
.course_figure:hover{transform:scale(0.9);}
.course_img{overflow:hidden;width:100%;position:relative;}
.course_img img{transition:.5s;transition-timing-function:linear;}
.course_img:hover img{transform:scale(1.3);}
.course_img .course_overlay_brown,.course_img .course_overlay_blue,.course_img .course_overlay_purple,.course_img .course_overlay_black{position:absolute;top:0;left:0;height:100%;width:100%;text-align:center;padding:10px 0px;transition:.5s;transition-timing-function:linear;}
.course_img:hover .course_overlay_brown{box-shadow:inset 0 0 0 140px rgba(165,42,42,0.6);}
.course_img:hover .course_overlay_blue{box-shadow:inset 0 0 0 140px rgba(0,0,255,0.6);}
.course_img:hover .course_overlay_purple{box-shadow:inset 0 0 0 140px rgba(128,0,128,0.6);}
.course_img:hover .course_overlay_black{box-shadow:inset 0 0 0 140px rgba(0,0,0,0.6);}
.course_img .course_header{position:absolute;top:0;left:0;height:100%;width:100%;text-align:center;padding:10px 0px;}
.course_img .course_header h2{font-size:65px;color:#ffffff;font-weight:400;font-style:italic;margin-top:0px;opacity:0;transition:.5s;transition-timing-function:linear;}
.course_img .course_header:hover h2{margin-top:20px;opacity:1;}
.course_img .course_header h3{font-size:46px;font-weight:600;font-style:italic;color:gold;margin-top:40px;opacity:0;transition:.5s;transition-timing-function:linear;}
.course_img .course_header:hover h3{margin-top:0px;opacity:1;}
.course_body{padding:30px 20px;}
.course_body ul{margin:0px;}
.course_body ul li{list-style:none;}
.course_footer{text-align:center;background:linear-gradient(red,green);}
.course_footer span{color:#ffffff;font-weight:700;font-style:italic;margin-bottom:15px;}
.course_button{position:absolute;background-color:red;color:#ffffff;text-align:center;border-radius:20px;transition:.5s;transition-timing-function:linear;}
.course_button:hover{background-color:orange;color:#ffffff;border-radius:20px;box-shadow:inset 0 0 0 15px orange;}
/* responsive */
@media(max-width:319.98px){
    .course_img .course_header h2{font-size:55px;}
    .course_img .course_header h3{font-size:37px;}
    .course_button{top:204px;left:38.2%;}
}
@media(min-width:320px) and (max-width:374.98px){
    .course_img .course_header h2{font-size:55px;}
    .course_img .course_header h3{font-size:37px;}
    .course_button{top:204px;left:38.2%;}
}
@media(min-width:375px) and (max-width:424.98px){
    .course_img .course_header h2{font-size:76px;}
    .course_button{top:238px;left:39.95%;}
}
@media(min-width:425px) and (max-width:575.98px){
    .course_img .course_header h2{font-size:88px;}
    .course_img .course_header h3{font-size:56px;}
    .course_button{ top:271px;left:41.25%;}
}
@media(min-width:576px) and (max-width:769.98px){
    .course_img .course_header h2{font-size:52px;}
    .course_img .course_header h3{font-size:33px;}
    .course_button{top:187px;left:37.2%;}
}
@media(min-width:768px) and (max-width:991.98px){
    .course_img .course_header h2{font-size:36px;}
    .course_img .course_header h3{font-size:27px;}
    .course_body{padding:30px 0px;}
    .course_button{top:168px;left:35.5%;}
}
@media(min-width:992px) and (max-width:1199.98px){
    .course_img .course_header h2{font-size:36px;}
    .course_img .course_header h3{font-size:27px;}
    .course_body{padding:30px 0px;}
    .course_button{top:164px;left:35.25%;}
}
@media(min-width:1200px) and (max-width:1365.98px){
    .course_img .course_header h2{font-size:55px;}
    .course_img .course_header h3{font-size:37px;}
    .course_button{top:199px;left:37.85%;}
}
@media(min-width:1366px) and (max-width:1399.98px){
    .course_button{top:224px;left:38.5%;}
}
@media(min-width:1400px){
    .course_button{top:232px;left:39.75%;}
}
/* responsive */
/*Featured courses end*/

/* Notice start */
.event_logo{overflow:hidden;background:linear-gradient(yellow,green,red);border-radius:50%;width:91%;cursor:default;}
.event_logo .event_logo_text{transform:scale(0.8);transition:.5s;transition-timing-function:linear;}
.event_logo:hover .event_logo_text{transform:scale(1);}
.event_logo .event_logo_text h2{font-size:50px;color:#ffffff;margin:0px;}
.event_logo .event_logo_text p{font-size:25px;color:#ffffff;margin:0px;}
/* AOS CUSTOM ANIMATION WITH CSS */
[data-aos="custom_animation"]{transform:rotate(360deg);opacity:0;}
[data-aos="custom_animation"].aos-animate{transform:rotate(0deg);opacity:1;}
/* AOS CUSTOM ANIMATION WITH CSS */
.event_text h3,.news_text h3{font-size:14px;color:#c1ff04;}
.event_text h3 span,.news_text h3 span{font-size:14px;font-weight:400;color:#03ff03;}
.event_text h3 span i,.news_text h3 span i{color:#03ff03;font-size:14px;}
.event_text p,.news_text p{font-weight:300;font-size:14px;color:lightblue;}
.news_img{overflow:hidden;width:100%;transition:.5s;transition-timing-function:linear;}
.news_img:hover{border-radius:40px;}
.news_img img{transition:.5s;transition-timing-function:linear;}
.news_img:hover img{transform:scale(1.3);border-radius:40px;}
/* responsive */
@media(max-width:319.98px){
    .event_logo{width:35%;margin:0px auto 14px;}
    .event_text,.news_text{text-align:center;}
    .news_img{margin-bottom:14px;}
}
@media(min-width:320px) and (max-width:374.98px){
    .event_logo{width:35%;margin:0px auto 14px;}
    .event_text,.news_text{text-align:center;}
    .news_img{margin-bottom:14px;}
}
@media(min-width:375px) and (max-width:424.98px){
    .event_logo{width:30%;margin:0px auto 14px;}
    .event_text,.news_text{text-align:center;}
    .news_img{margin-bottom:14px;}
}
@media(min-width:425px) and (max-width:575.98px){
    .event_logo{width:27%;margin:0px auto 14px;}
    .event_text,.news_text{text-align:center;}
    .news_img{margin-bottom:14px;}
}
@media(min-width:576px) and (max-width:767.98px){
    .event_logo{width:97%;}
}
@media(min-width:768px) and (max-width:991.98px){
    .event_logo{width:71%;}
}
@media(min-width:992px) and (max-width:1199.98px){
    .event_logo{width:112%;}
}
/* responsive */
/* Notice end */



/* teachers start */
.teacher_img{overflow:hidden;width:100%;margin-bottom:14px;}
.teacher_img img{transition:.5s;transition-timing-function:linear;}
.teacher_img:hover img{transform:scale(1.3);}
.teacher_text hr{border:none;border-bottom:1px solid #dddddd;}
.teacher_text p{font-weight:300;color:lightblue;}
.teacher_text div ul li a i{color:mediumaquamarine;font-size:28px;transform:rotate3d(1,1,1,0deg);transition:.5s;transition-timing-function:linear;}
.teacher_text div ul li:hover a i{transform:rotate3d(1,1,1,360deg);color:greenyellow;}
.teacher_text span{font-weight:700;font-size:18px;color:#f33131;}
/* responsive */
@media(max-width:575.98px){
    .teacher_img{margin-bottom:14px;}
    .teacher_text{text-align:center;}
}
@media(min-width:576px) and (max-width:767.98px){
    .teacher_text div ul{margin-bottom:10px;}
}
@media(min-width:992px) and (max-width:1199.98px){
    .teacher_text div ul{margin-bottom:4px;}
    .teacher_text div ul li a i{font-size:22px;}
    .teacher_text span{font-size:16px;}
}
/* responsive */
/* teachers end */



/* testimonial start */
.testimonial_img{overflow:hidden;width:100%;margin-bottom:14px;border-radius:50%;}
.testimonial_img img{border-radius:50%;transition:.5s;transition-timing-function:linear;}
.testimonial_img:hover img{transform:scale(1.3);}
/* responsive */
@media(max-width:575.98px){
    .testimonial_img{margin-bottom:14px;}
    .testimonial_text{text-align:center;}
}
/* responsive */
/* testimonial end */



/*contact start*/
/*part_1 start*/
.footer_logo{overflow:hidden;width:100%;}
.footer_logo img{margin:auto 19%;transition:.5s;transition-timing-function:linear;}
.footer_logo:hover img{transform:scale(0.9);}
.part_4 p,.part_1 p,.part_3 p a{font-weight:300;font-size:14px;color:lightblue;}
.part_3 p a{
    transition: .5s;
}
.part_3 p a:hover{
    text-decoration: none;
    color: #ffeb00;
}
.part_1 p span{color:chartreuse;}
.part_1 p i,.part_3 p a i{color:chartreuse;}
.part_3 p a i{
    transition: .5s;
}
.part_3 p a:hover i{
    color: #ffeb00;
}
/*part_1 end*/
/*part_2 start*/
.gallery img{
    width: 100%;
    margin-top: 15px;
}
.p_r_0{
    padding-right: 0px;
}
/*part_2 end*/
/*part_4 start*/
.contact_form,.message{
    padding: 0px 20px;
    font-weight: 300;
    font-size: 14px;
    border-right: 0px;
    border-radius: 20px;
}
.contact_form_margin{
    margin-top: 10px;
}
.email_button{
    background-color: white;
    border-left: 0px;
}
.email_button a i{
    font-size: 14px;
    color: #cccccc;
    transition: .5s;
}
.email_button a:hover i{
    color: #1ec0ff;
}
.footer_icon ul li a i{
    font-size: 14px;
    color: #cccccc;
    margin-top: 29px;
    transition: .5s;
}
.footer_icon ul li a:hover i{
    color: #1ec0ff;
}
/*part_4 end*/
/*contact end*/

/* footer css [responsive] */
footer{background-color:rgb(27,0,253);padding:21px 0px;position:relative;}
.copyright_text p{font-size:14px;color:lightblue;margin:3px 0px;}
.copyright_text p a{color:chartreuse;transition:.5s;transition-timing-function:linear;}
.copyright_text p a:hover{color:#ffeb00;text-decoration:none;}
/* footer css [responsive] */

/*click_to_top start*/
.click_to_top{
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 1;
}
.click_to_top a img{
    width: 40px;
    transition: 0.5s;
}
.click_to_top a:hover img{
    opacity: 0.5;
}
/*click_to_top end*/